.App {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  background-color: #282c34;
}
.countries-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.country-container {
  margin: 16px;
  width: fit-content;
}

.title{
  font-weight: bold;
  color: white;
}